.div1{
    height: 500px;
    width: 300px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : brown;
    border-radius: 24px;
}

.div2{
    height: 500px;
    width: 300px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    border-radius: 24px;
}

.div3{
    height: 500px;
    width: 300px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    border-radius: 24px;
}

.divMaman{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5%;
    flex-direction: row;
    padding: 1rem;
}

.divMaman div:hover{
    scale: 1.1;
    transition: 0.5s;
}

img{
    height: 300px;
    animation : monter-descendre 3s infinite ease-in-out;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes monter-descendre{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.btn{
    padding: 10px;
    background-color: beige;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: gray;
    color: beige
}

.nombotte{
    font-weight: bold;
    color : rgb(51, 28, 1);
    margin: 1rem 0rem;
}