div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #f1f1f1;
}

div.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #f1f1f1;
}

input {
    display: flex;
    border-width: 0.00001px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background: #f1f1f1;
}


